body {
    background-color: darkslateblue;
}
p {
    color: silver;
    width: 400px;
    font-size: 20px;
}
h1 {
    color: silver;
}
section {
    float: left;
    margin: 13px;

    height: auto;
}
/* unvisited link */
a:link {
    color: aliceblue;
  }
  
  /* visited link */
  a:visited {
    color: brown;
  }
  
  /* mouse over link */
  a:hover {
    color: pink;
  }
  
